{{ define "main" }}

{{ $pageLayoutClasses := .Params.layoutClasses }}
{{ $pageLayoutStyles := .Params.layoutStyles }}
{{ $inBlockGroup := false }}
{{ $blockGroupSpan := 0 }}
{{ $blockGroupCurrentSpan := 0 }}

<div class="blocks">
    <div class="blocks-inner {{ delimit $pageLayoutClasses " " }}" style={{ (delimit $pageLayoutStyles " ") | safeCSS }}>
        {{ range sort (.Resources.Match "blocks/*.md") "File.Path" }}

        {{ $blockLayoutClasses := .Params.layoutClasses }}
        {{ $blockLayoutStyles := .Params.layoutStyles }}

        {{ if and .Params.layoutData .Params.layoutData.background_image_asset }}
        {{ with .Site.GetPage (printf "/assets/%s" .Params.layoutData.background_image_asset) }}
            {{ with .Resources.GetMatch "file*" }}
                {{ $blockLayoutStyles = $blockLayoutStyles | append (printf "background-image: url(\"%s\")" .RelPermalink ) }}
            {{ end }}
        {{ end }}
        {{ end }}

        {{ if eq .Params.layout "blockGroup" }}
            {{ if $inBlockGroup }}</div>{{ end }}
            {{ $inBlockGroup = true }}
            {{ $blockGroupSpan = int .Params.data.span }}
            {{ $blockGroupCurrentSpan = 0 }}
            <div class="{{ delimit $blockLayoutClasses " " }}" style="{{ (delimit $blockLayoutStyles " ") | safeCSS }}">
        {{ else }}
            <div class="{{ delimit $blockLayoutClasses " " }}" style="{{ (delimit $blockLayoutStyles " ") | safeCSS }}">
                {{ .Content }}
            </div>
        {{ end }}
        {{ if $inBlockGroup }}
            {{ if eq $blockGroupCurrentSpan $blockGroupSpan }}
                </div>
                {{ $inBlockGroup = false }}
            {{ else }}
                {{ $blockGroupCurrentSpan = add $blockGroupCurrentSpan 1 }}
            {{ end }}
        {{ end }}

        {{ end }}

        {{ if $inBlockGroup }}</div>{{ end }}
    </div>
</div>
{{ .Content }}
{{ end }}
