{{/*
Renders an unordered list of resources.

The shortcode can include an "resource-ids" attribute or a "limit" attribute, but
not both.

@param {string} [section] The resource section (items, media, item-sets)
@param {string} [ids] A comma-delimited string of resource IDs to populate the list
@param {string} [limit] The number of resources to display

@returns {template.HTML}
*/}}

{{ $resourceIds := .Get "resource-ids" }}
{{ $section := .Get "section" }}
{{ $limit := .Get "limit" }}
{{ $pages := false }}

{{ if $resourceIds }}
    {{ $pages = slice }}
    {{ range split $resourceIds "," }}
        {{ $page := site.GetPage (printf "/%s/%s" $section . ) }}
        {{ if $page }}
            {{ $pages = append $page $pages }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ $regularPages := where site.RegularPages "Section" (.Get "section") }}
    {{ $pages = $regularPages.Limit (.Get "limit" | int) }}
{{ end }}


<ul class="resource-list">
{{ range $pages }}
    {{ $thumbnailResource := false }}
    {{ if .Params.thumbnailSpec.page }}
        {{ $thumbnailPage := site.GetPage (.Params.thumbnailSpec.page) }}
        {{ $thumbnailResource = $thumbnailPage.Resources.GetMatch (printf "%s*" (.Params.thumbnailSpec.resource)) }}
    {{ else }}
        {{ $thumbnailResource = resources.Get (.Params.thumbnailSpec.resource) }}
    {{ end }}
    <li class="resource">
        <a href="{{ .RelPermalink }}" class="resource-link">
            {{ with $thumbnailResource }}<img src="{{ .RelPermalink }}" height="50" alt="">{{ end }}
            <span>{{ .LinkTitle }}</span>
        </a>
        {{ with .Params.description }}<div class="description">{{ . | truncate 600 }}</div>{{ end }}
    </li>
{{ end }}
</ul>
