{{/*
Renders an HTML figure element in any page context.

@param {string} [type] The type of content in the figure element (audio, video, or image).
@param {string} [filePage] The path to a content page object, used for the figure file. If not given, assumes fileResource is the full path to a global (asset) resource.
@param {string} [fileResource] The resource name (prefix or full), used for the figure file.
@param {string} [imgPage] The path to a content page object, used for the figure image. If not given, assumes imgResource is the full path to a global (asset) resource.
@param {string} [imgResource] The resource name (prefix or full), used for the figure image.
@param {string} [linkPage] The path to a content page object, used for the figure link.
@param {string} [linkResource] The resource name (prefix or full), used for the figure link. If not given, assumes linkPage is the full path to a content page object.

@returns {template.HTML}
*/}}

{{ $type := .Get "type" }}
{{ $fileResource := false }}
{{ $imgResource := false }}
{{ $linkResource := false }}

{{ if and (.Get "filePage") (.Get "fileResource") }}
    {{ $filePage := site.GetPage (.Get "filePage") }}
    {{ $fileResource = $filePage.Resources.GetMatch (printf "%s*" (.Get "fileResource")) }}
{{ else if (.Get "fileResource") }}
    {{ $fileResource = resources.Get (.Get "fileResource") }}
{{ end }}

{{ if and (.Get "imgPage") (.Get "imgResource") }}
    {{ $imgPage := site.GetPage (.Get "imgPage") }}
    {{ $imgResource = $imgPage.Resources.GetMatch (printf "%s*" (.Get "imgResource")) }}
{{ else if (.Get "imgResource") }}
    {{ $imgResource = resources.Get (.Get "imgResource") }}
{{ end }}

{{ if and (.Get "linkPage") (.Get "linkResource") }}
    {{ $linkPage := site.GetPage (.Get "linkPage") }}
    {{ $linkResource = $linkPage.Resources.GetMatch (printf "%s*" (.Get "linkResource")) }}
{{ else if (.Get "linkPage") }}
    {{ $linkResource = site.GetPage (.Get "linkPage") }}
{{ end }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{ if eq $type "audio" }}
        {{ with $fileResource }}<audio controls src="{{ $fileResource.RelPermalink }}">{{ end }}
    {{ else if eq $type "video" }}
        {{ with $fileResource }}<video controls src="{{ $fileResource.RelPermalink }}">{{ end }}
    {{ end }}
    {{ with $linkResource }}<a href="{{ .RelPermalink }}">{{ end }}
    {{ with $imgResource }}<img src="{{ .RelPermalink }}">{{ end }}
    {{ with $linkResource }}</a>{{ end }}
    {{ if eq $type "audio" }}
        {{ with $fileResource }}</audio>{{ end }}
    {{ else if eq $type "video" }}
        {{ with $fileResource }}</video>{{ end }}
    {{ end }}
    {{ with .Get "caption" }}
    <figcaption>
        {{ . }}
    </figcaption>
    {{ end }}
</figure>
