<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<!-- Redirect to configured homepage if at root -->
{{ $homepage := .Site.Params.homepage }}
{{ if and (.IsHome) ($homepage) }}
    <meta http-equiv="refresh" content="0;url={{ $homepage | relURL }}" />
{{ end }}

<script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
<script src="{{ "js/main.js" | relURL }}"></script>

<!--Include scripts added by front matter -->
{{ if .Params.js }}
    {{ range .Params.js | uniq }}
        <script src="{{ . | relURL }}"></script>
    {{ end }}
{{ end }}

{{ with .Site.Params.theme }}
    <link href="{{ ( printf "css/%s.css" . ) | relURL }}" rel="stylesheet" />
{{ end }}

<link href="{{ "css/omeka-defaults.css" | relURL }}" rel="stylesheet" />

<!--Include styles added by front matter -->
{{ if .Params.css }}
    {{ range .Params.css | uniq }}
        <link href="{{ . | relURL }}" rel="stylesheet" />
    {{ end }}
{{ end }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

