{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    <div class=”browse-controls”>{{- partial "pagination.html" . -}}</div>
    <ul class="resource-list">
    {{ range .Paginator.Pages }}
        {{ $thumbnailResource := false }}
        {{ if .Params.thumbnailSpec.page }}
            {{ $thumbnailPage := site.GetPage (.Params.thumbnailSpec.page) }}
            {{ $thumbnailResource = $thumbnailPage.Resources.GetMatch (printf "%s*" (.Params.thumbnailSpec.resource)) }}
        {{ else }}
            {{ $thumbnailResource = resources.Get (.Params.thumbnailSpec.resource) }}
        {{ end }}
        <li class="resource">
            <a href="{{ .RelPermalink }}" class="resource-link">
                {{ with $thumbnailResource }}<img src="{{ .RelPermalink }}" height="50" alt="">{{ end }}
                <span>{{ .LinkTitle }}</span>
            </a>
            {{ with .Params.description }}<div class="description">{{ . }}</div>{{ end }}
        </li>
    {{ end }}
    </ul>
    <div class=”browse-controls”>{{- partial "pagination.html" . -}}</div>
{{ end }}
